<nav class="hk-nav hk-nav-light pt-10">
    <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span
            class="feather-icon"><i data-feather="x"></i></span></a>
    <div class="nicescroll-bar mt-5 ">
        <div class="navbar-nav-wrap mt-5">
            <ul class="navbar-nav flex-column  mx-sm-auto my-sm-auto">

                <li class="nav-item text-center mb-2">
                        <span class="nav-link-text"><h5 class="font-weight-200"> Plant Disease Monitoring System - (PDMS)</h5>
                        </span>
                </li>




                <li class="nav-item"><a class="nav-link"
                                        href="/public/AboutPdms"> <span class="feather-icon"><i
                        data-feather="tag"></i></span> <span class="nav-link-text">About PDMS
                </span>
                </a>
                    <hr/>
                </li>


{#----------- Agriculture Directory-----------------#}

                <li class="nav-item text-center mb-2">
                        <span class="nav-link-text"><h5 class="font-weight-200"> Agriculture Directory</h5>
                        </span>
                </li>


                {#-----------Crop Production-----------------#}

                <li class="nav-item"><a class="nav-link"
                                        href="javascript:void(0);" data-toggle="collapse"
                                        data-target="#cropproduction"> <span class="feather-icon"><i
                        data-feather="plus-circle"></i></span> <span class="nav-link-text">Crop Production
							 </span>
                </a>
                    <ul id="cropproduction"
                        class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item"><a class="nav-link"
                                                        href="/public/criticalFactors">
                                    Crictical factors
                                    for production of crop</a></li>


                                <li class="nav-item"><a class="nav-link" href="/public/WeatherInformation">Weather
                                    Information</a></li>

                                <li class="nav-item"><a class="nav-link"
                                                        href="/public/AdvanceTechnologies">Advanced Technologies
                                </a></li>

                                <li class="nav-item"><a class="nav-link"
                                                        href="/public/organicFarming">Organic Farming
                                </a></li>

                                <li class="nav-item"><a class="nav-link"
                                                        href="/public/tipsForFarmers">Tips for farmers
                                </a></li>

                                <li class="nav-item"><a class="nav-link"
                                                        href="/public/ImportantPortals">Important Portals
                                </a></li>


                            </ul>
                        </li>
                    </ul>
                </li>


                {#-----------Types of crops and Disease ---------------#}

                <li class="nav-item"><a class="nav-link"
                                        href="javascript:void(0);" data-toggle="collapse"
                                        data-target="#crop_disease"> <span class="feather-icon"><i
                        data-feather="book-open"></i></span> <span class="nav-link-text">
							Crop and Disease </span>

                </a>

                    <ul id="crop_disease"
                        class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">

                                <li class="nav-item"><a class="nav-link"
                                                        href="https://www.farmer.gov.in/IPMPackageofPractices.aspx">
                                    Crop Directory <br>
                                    ( Transfer To Farmer's Portal Govt. Website)

                                </a></li>


                            </ul>
                        </li>
                    </ul>
                    <hr/>
                </li>


                {#--------------google-translate---------------------#}

                <li class="nav-item text-center">
                <h5>Translate this page</h5>

                <div id="google_translate_element"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                    }
                </script>

                <script type="text/javascript"
                        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                </li>


                {#------------------contact us-------------------------- #}


                <li class="nav-item">
                    <hr>
                    <a class="nav-link"
                                        href="/admin/login"> <span class="feather-icon"><i
                        data-feather="log-in"></i></span> <span class="nav-link-text">
							Login Here !! </span>

                </a>

                </li>


                <li class="nav-item"><a class="nav-link"
                                        href="/user/loadRegister"> <span class="feather-icon"><i
                        data-feather="bookmark"></i></span> <span class="nav-link-text">
							Register Here !! </span>

                </a>
                    <hr/>
                </li>








            </ul>
        </div>


    </div>


</nav>


<div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>